@{
    ViewBag.Title = "Home Page";
}




<conteiner>

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://blog.fromdoppler.com/wp-content/uploads/main42.png" class="d-block w-100" alt="Hola">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://img.freepik.com/vector-premium/plantilla-diseno-bienvenida-colorida-bienvenido-banner-letras-diseno-texto-bienvenida_471203-522.jpg" class="d-block w-100" alt="Bienvenido">
            </div>
            <div class="carousel-item">
                <img src="https://www.questionpro.com/blog/wp-content/uploads/2023/07/2440-Portada-mensaje-de-bienvenida.jpg" class="d-block w-100" alt="Hola">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</conteiner>